<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center">
    <span class="text-muted"
      >COPYRIGHT &copy; 2021 GROUNDZILLA. ALL RIGHTS RESERVED.</span
    >
  </div>
</footer>
